Cmake
dash==2.6.1
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-cytoscape==0.2.0
dash-html-components==2.0.0
dash-table==5.0.0
dj-database-url==0.5.0
Django==3.2.15
django-extensions==3.2.0
django-plotly-dash==2.0.0
gunicorn==20.1.0
MarkupSafe==2.1.1
matplotlib
networkx==2.6.2
numpy==1.23.2
pandas==1.5.0
plotly==5.4.0
Pillow==9.1.0
psycopg2-binary==2.9.5
scipy==1.9.1
sqlparse==0.4.2
wheel==0.37.1
whitenoise==6.0.0
python-dotenv==0.21.0