{% extends "baser_generic.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div style="width:90%">
    <h1>HISE Download Datasets</h1>

    <ul>
        <li><b>Interaction Downloads</b></li>
        <ul>
            <li><a href="{% static "download_files/all_pathways_hsc.zip" %}">HSC</a></li>
            <li><a href="{% static "download_files/all_pathways_mpp.zip" %}">MPP</a></li>
            <li><a href="{% static "download_files/all_pathways_cmp.zip" %}">CMP</a></li>
            <li><a href="{% static "download_files/all_pathways_gmp.zip" %}">GMP</a></li>
            <li><a href="{% static "download_files/all_pathways_clp.zip" %}">CLP</a></li>
            <li><a href="{% static "download_files/all_pathways_mep.zip" %}">MEP</a></li>
        </ul>
        <li><b>Correlation Downloads</b></li>
        <ul>
            <li>    HSC  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_hsc.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_hsc.csv" %}">Negative Correlations</a></li>
            </ul>
            <li>    MPP  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_mpp.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_mpp.csv" %}">Negative Correlations</a></li>
            </ul>
            <li>    CMP  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_cmp.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_cmp.csv" %}">Negative Correlations</a></li>
            </ul>
            <li>    GMP  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_gmp.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_gmp.csv" %}">Negative Correlations</a></li>
            </ul>
            <li>    CLP  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_clp.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_clp.csv" %}">Negative Correlations</a></li>
            </ul>
            <li>    MEP  </li>
            <ul>
                <li><a href="{% static "download_files/HISE_positive_pathway_correlations_mep.csv" %}">Positive Correlations</a></li>
                <li><a href="{% static "download_files/HISE_negative_pathway_correlations_mep.csv" %}">Negative Correlations</a></li>
            </ul>
        </ul>
        
    </ul>
    <br>
    <br>

{% endblock %}
