{% extends "baser_generic.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div style="width:90%">
    <h1>HISE Download Datasets</h1>

    <ul>
        <li><b>Interaction Downloads</b></li>
        <ul>
            <li><a href="{% static "download_files/all_pathways_hsc.zip" %}">HSC</a></li>
            <li><a href="{% static "download_files/all_pathways_mpp.zip" %}">MPP</a></li>
            <li><a href="{% static "download_files/all_pathways_cmp.zip" %}">CMP</a></li>
            <li><a href="{% static "download_files/all_pathways_gmp.zip" %}">GMP</a></li>
            <li><a href="{% static "download_files/all_pathways_clp.zip" %}">CLP</a></li>
            <li><a href="{% static "download_files/all_pathways_mep.zip" %}">MEP</a></li>
        </ul>
        <li><b>Correlation Downloads</b></li>
        <ul>
            <li>    HSC  </li>
            <ul>
                <li><a href="{% static "download_files/hscMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
            <li>    MPP  </li>
            <ul>
                <li><a href="{% static "download_files/mppMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
            <li>    CMP  </li>
            <ul>
                <li><a href="{% static "download_files/cmpMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
            <li>    GMP  </li>
            <ul>
                <li><a href="{% static "download_files/gmpMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
            <li>    CLP  </li>
            <ul>
                <li><a href="{% static "download_files/clpMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
            <li>    MEP  </li>
            <ul>
                <li><a href="{% static "download_files/mepMetacell_correlations_pivot_zscore_HISE.csv" %}">Correlations Matrix</a></li>
            </ul>
        </ul>
        
    </ul>
    <br>
    <br>

{% endblock %}
